/*
 *@Alaska GeForce gtx
 *26/02/2020
*/
div.Forgot-password-view {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }
  div.Forgot-password-view div.Forgot-password_Left-arrow {
    margin-left: 20px; }
    div.Forgot-password-view div.Forgot-password_Left-arrow img {
      opacity: 0;
      animation: 400ms GlobalOtherViewAction 0ms forwards;
      cursor: pointer; }
  @media only screen and (min-width: 0) and (max-width: 345px) {
    div.Forgot-password-view div.Forgot-password-view_Platform {
      transform: scale(0.85);
      margin-left: -4%;
      margin-top: -40px; } }
  div.Forgot-password-view div.Forgot-password-view_Platform label#Forgot-password-view_Title {
    font-family: TwCenMt;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #575555;
    opacity: 0;
    animation: 300ms GlobalOtherViewAction 200ms forwards; }
    @media only screen and (min-width: 0) and (max-width: 345px) {
      div.Forgot-password-view div.Forgot-password-view_Platform label#Forgot-password-view_Title {
        font-size: 18px; } }
  div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Help {
    padding-left: 50px;
    padding-right: 50px;
    display: block;
    margin-top: 6px;
    opacity: 0;
    animation: 300ms GlobalOtherViewAction 300ms forwards; }
    @media only screen and (min-width: 0) and (max-width: 345px) {
      div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Help {
        padding-left: 30px;
        padding-right: 30px; } }
    div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Help label {
      line-height: 22px;
      font-family: Arial;
      font-size: 12px;
      letter-spacing: 1.5px;
      color: #6b6a6a; }
  div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Phone-number {
    opacity: 0;
    animation: 300ms GlobalOtherViewAction 400ms forwards; }
    div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Phone-number input[type="tel"]:not(:focus) {
      width: 280px;
      height: 35px;
      outline: none;
      border-radius: 10px;
      padding: 5px 20px 5px 20px;
      border: 2px solid #d8d8d8;
      font-family: OpenSans;
      font-size: 16px;
      letter-spacing: 1.5px;
      color: #706E6E;
      animation: none; }
    div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Phone-number input[type="tel"]:focus {
      width: 280px;
      height: 35px;
      outline: none;
      border-radius: 10px;
      padding: 5px 20px 5px 20px;
      border: none;
      font-family: OpenSans;
      font-size: 16px;
      letter-spacing: 1.5px;
      color: #00A651;
      animation-name: InputFocusAction;
      animation-duration: 800ms;
      animation-iteration-count: infinite; }
    @media only screen and (min-width: 0) and (max-width: 345px) {
      div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Phone-number input[type="tel"] {
        font-size: 14px; } }
  div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Error {
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    opacity: 0;
    animation: 300ms GlobalOtherViewAction 500ms forwards; }
    div.Forgot-password-view div.Forgot-password-view_Platform span#Forgot-password-view_Error label {
      font-family: SegoeUi;
      font-size: 14px;
      letter-spacing: 1.5px;
      color: #6b6a6a; }
  div.Forgot-password-view div.Forgot-password-view_Platform button#Forgot-password-view_Send {
    margin-top: 10px;
    width: 320px;
    height: 50px;
    outline: none;
    border-radius: 8px;
    background-color: #00A651;
    font-weight: bold;
    padding-bottom: 4px;
    transition-property: box-shadow, background-color;
    transition-duration: 300ms;
    border: none;
    cursor: pointer;
    font-family: Arial;
    font-size: 20px;
    letter-spacing: 1.5px;
    color: #FFF;
    transform: scale(0);
    animation: 200ms GlobalScalingAction 600ms forwards; }
    div.Forgot-password-view div.Forgot-password-view_Platform button#Forgot-password-view_Send:hover {
      box-shadow: 1.5px 1.5px 2px silver; }
    @media only screen and (min-width: 0) and (max-width: 345px) {
      div.Forgot-password-view div.Forgot-password-view_Platform button#Forgot-password-view_Send {
        font-size: 18px; } }
    div.Forgot-password-view div.Forgot-password-view_Platform button#Forgot-password-view_Send:hover {
      background-color: green; }
    div.Forgot-password-view div.Forgot-password-view_Platform button#Forgot-password-view_Send img {
      position: absolute;
      margin-left: -80px;
      margin-top: -19px;
      transform: scale(0); }

/*# sourceMappingURL=forgot-password-view.css.map */
