/*
 *@Alaska GeForce gtx
 *Creation date: 16/20/2020
 *Last update: 28/02/2020
*/

//Importations.
@import "../utilities/tools-utilities";

//Forgot password view.
div.Forgot-password-view {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    //Left arrow image.
    div.Forgot-password_Left-arrow {
        margin-left: 20px;
        img {
            opacity: 0;
            animation: 400ms GlobalOtherViewAction 0ms forwards;
            cursor: pointer;
        }
    }
    //Personal infos platform.
    div.Forgot-password-view_Platform {
        //Responsive zone.
        @include responsiveObject (0, 345px) {
            transform: scale(0.85);
            margin-left: -4%;
            margin-top: -40px;
        }
        //Title text.
        label#Forgot-password-view_Title {
            @include basicTextDesign (TwCenMt, 20px, rgb(87, 85, 85));
            opacity: 0;
            animation: 300ms GlobalOtherViewAction 200ms forwards;
            //Responsive zone.
            @include responsiveObject (0, 345px) {
                font-size: 18px;
            }
        } span#Forgot-password-view_Help {
            padding-left: 50px;
            padding-right: 50px;
            display: block;
            margin-top: 6px;
            opacity: 0;
            animation: 300ms GlobalOtherViewAction 300ms forwards;
            //Responsive zone.
            @include responsiveObject (0, 345px) {
                padding-left: 30px;
                padding-right: 30px;
            }
            //Help text.
            label {
                line-height: 22px;
                @include basicTextDesign (Arial, 12px, rgb(107, 106, 106));
            }
        }
        //Inputs fields.
        span#Forgot-password-view_Phone-number {
            opacity: 0;
            animation: 300ms GlobalOtherViewAction 400ms forwards;
            input[type = "tel"] {
                @include basicInputTools;
            }
        }
        //Error message.
        span#Forgot-password-view_Error {
            display: inline-block;
            padding-left: 25px;
            padding-right: 25px;
            opacity: 0;
            animation: 300ms GlobalOtherViewAction 500ms forwards;
            label {
                @include basicTextDesign (SegoeUi, 14px, rgb(107, 106, 106));
            }
        }
        //Send button.
        button#Forgot-password-view_Send {
            margin-top: 10px;
            @include basicButtonTools (#00A651);
            transform: scale(0);
            animation: 200ms GlobalScalingAction 600ms forwards;
            //Mouse hover.
            &:hover {
                background-color: green;
            }
            //Hide loader
            img {
                position: absolute;
                margin-left: -80px;
                margin-top: -19px;
                transform: scale(0);
            }
        }
    }
}