/*
 *@Alaska GeForce gtx
 *Creation date: 21/20/2020
 *Last update: 28/02/2020
*/

//Importations.
@import "../utilities/tools-utilities";

//Notifications view.
div.Notifications-view {
    //Notifications text.
    div.Notifications-view_Activities-text {
        border-bottom: 1px solid rgb(238, 231, 231);
        background-color: white;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 20px;
        opacity: 0;
        animation: 300ms GlobalOtherViewAction 350ms forwards;
        strong {
            display: inline-block;
            transform: translateY(-10px);
            label {
                @include basicTextDesign (Arial, 16px, rgb(141, 138, 138));
                //Responsive zone.
                @include responsiveObject (0, 345px) {
                    font-size: 14px;
                }
            }
        }
    }
    //Notifications statistiques.
    div.Notifications-view_Statistiques {
        overflow-y: auto;
        overflow-x: hidden;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        height: 420px;
        //Money satatistiques loader.
        img#Loader-content {
            margin-top: 120px;
            display: none;
        }
        //Notifications state.
        div.Notifications-view_App-state {
            padding-top: 10px;
            padding-bottom: 10px;
            transition: background-color 400ms;
            cursor: pointer;
            //Mouse hover.
            &:hover {
                background-color: rgb(248, 245, 245);
            }
            //Operation text.
            span#Notifications-view_Operation {
                margin-left: 12px;
                float: left;
                label {
                    cursor: pointer;
                    @include basicTextDesign (Verdana, 12px, rgb(141, 138, 138));
                    //Responsive zone.
                    @include responsiveObject (0, 345px) {
                        font-size: 10px;
                    }
                }
            }
            //Current date operation.
            span#Notifications-view_Operation + span {
                display: inline-block;
                margin-left: 15px;
                label {
                    cursor: pointer;
                    @include basicTextDesign (Verdana, 12px, rgb(141, 138, 138));
                    //Responsive zone.
                    @include responsiveObject (0, 345px) {
                        font-size: 10px;
                    }
                }
            }
            //Block note.
            span#Notifications-view_Operation + span + img {
                float: right;
                margin-right: 12px;
                margin-top: -3px;
                cursor: pointer;
            }
        }
    }
}