/*
 *@Alaska GeForce gtx
 *Creation date: 27/20/2020
 *Last update: 28/02/2020
*/

//Importations.
@import "../utilities/tools-utilities";

//Settings view.
div.Settings-view {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    //Header.
    header.Settings-view_Header-title {
        background-color: #00A651;
        transform: translateY(-100%);
        animation: 300ms BasicTranslationAction 0ms forwards;
        //Title text.
        strong {
            float: left;
            margin-left: 15px;
            margin-top: -10px;
            label {
                @include basicTextDesign (TwCenMt, 18px, white);
                //Responsive zone.
                @include responsiveObject (0, 345px) {
                    font-size: 16px;
                }
            }
        }
    }
}